:root{
  --sun-color: #FDE047;
  --moon-color: #334155;
  --inactive-color-forMoon: #FEF9C3;
  --inactive-color-forSun: #94A3B8;
  --gold-color: #F6C453;
  --gold-brown-color: #C97B32;
  --oliver-color-saturated: #599660;
  --blue-color: #146EF5;
  --gray-color: #F0F0F0;
  --dark-color-links: #151515;
  --dark-mode-back-color: #212529;
  --input-back-on-dark: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right , #305c35 , #C97B32);
}

.container {
  background-color: white;
  position: relative;
  height: 430px;
  width: 700px;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
  overflow: hidden;
}

@media (max-width: 768px) {
  .container{
    width: 330px;
    overflow: unset;
  }
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: var(--gray-color);
}

/* start toggle menu */

/* right */
.toggle-menu-right {
  background-color: var(--oliver-color-saturated);
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 150px 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .toggle-menu-right {
    top: 151%;
    transform: translateY(-50%);
    width: 100%;
    border-radius: 30px;
  }
}

.toggle-menu-right p {
  font-size: 17px;
  text-align: center;
  margin-right: 4px;
  margin-left: 4px;
}

.toggle-menu-right button {
  position: absolute;
  bottom: 70px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  border: none;
  color: var(--oliver-color-saturated);
  cursor: pointer;
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-menu-right button:hover,
.toggle-menu-right button:focus {
  color: black;
}

/* right */
.with-toggle-menu-right {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .with-toggle-menu-right {
    width: 100%;
  }
}

.with-toggle-menu-right h1 {
  margin-bottom: 15px;
}

.with-toggle-menu-right span {
  font-size: 15px;
}


.with-toggle-menu-right input {
  margin: 20px 0px 10px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--oliver-color-saturated);
}

.with-toggle-menu-right button {
  margin-top: 20px;
  background-color: var(--oliver-color-saturated);
  border: 2px solid transparent;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.with-toggle-menu-right button:hover,
.with-toggle-menu-right button:focus {
  background-color: white;
  color: var(--oliver-color-saturated);
  border: 2px solid var(--oliver-color-saturated);
} 

/* dark mode and inactive */

body.dark-mode{
  background-image: linear-gradient(to right , #27412a , rgb(23, 23, 23));
}

.container.dark-mode{
  background-color: var(--dark-mode-back-color);
}

.container.dark-mode .with-toggle-menu-right h1{
  color: white;
}

.container.dark-mode .with-toggle-menu-right span{
  color: white;
}

.container.dark-mode .with-toggle-menu-right input{
  background-color: transparent;
  color: white;
}

.container.dark-mode .with-toggle-menu-right button:hover,
.container.dark-mode .with-toggle-menu-right button:focus {
  background-color: var(--dark-mode-back-color);
}

.container.dark-mode .toggle-menu-right button{
  background-color: var(--dark-mode-back-color);
}

.container.dark-mode .toggle-menu-right button:hover,
.container.dark-mode .toggle-menu-right button:focus{
  color: white;
}

.inactive {
  display: none;
}
