:root{
  --sun-color: #FDE047;
  --moon-color: #334155;
  --inactive-color-forMoon: #FEF9C3;
  --inactive-color-forSun: #94A3B8;
  --gold-color: #F6C453;
  --gold-brown-color: #C97B32;
  --oliver-color: #7A9E7E;
  --blue-color: #146EF5;
  --gray-color: #F0F0F0;
  --dark-color-links: #151515;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.container{
  margin-left: 32px;
  margin-right: 32px;
}

@media (max-width: 1024px) {
  .container{
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media (max-width: 640px) {
  .container{
    margin-right: 8px;
    margin-left: 8px;
  }
}

.mobile{
  display: none;
}

/* ____________________ */

.nav-bar{
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 220;
  background-color: white;
  transition: all .5s;
}

.nav-bar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-bar .left-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .nav-logo img{
  width: 70px;
}

/* change mode */
.change-mode{
  background-color: var(--sun-color);
  width: 85px;
  height: 35px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

.change-mode-to-d-back {
  background-color: var(--moon-color);
}

.change-mode-to-l-back {
  background-color: var(--sun-color);
}

@media (max-width: 767px) {
  .change-mode{
    margin-left: 0px;
  }
}

.sun-mode {
  position: absolute;
  width: 21px;
  height: 21px;
  color: var(--sun-color);
  padding: 4.5px 5px;
  border-radius: 50%;
  top: 2.7px;
  left: 5px;
  background-color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .5s;
  transform: scale(1);
}

.moon-mode {
  position: absolute;
  width: 23px;
  height: 23px;
  padding: 3.5px 4px;
  color: var(--moon-color);
  border-radius: 50%;
  top: 2.7px;
  right: 5px;
  background-color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .5s;
  transform: translate(5%, -50%), scale(1);
}

.inactiveS{
  transform: scale(.84);
  background-color: transparent;
  color: var(--inactive-color-forSun);
}

.inactiveM{
  transform: scale(.83);
  background-color: transparent;
  color: var(--inactive-color-forMoon);
}
/* end change mode */

.nav-bar .right-section{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.nav-bar .search{
  margin-right: 8px;
  cursor: pointer;
  height: 18px;
  padding: 10px;
  border-radius: .375rem;
  background-color: white;
  transition: all .4s;
  z-index: 10;
}

.nav-bar h1 {
  font-size: 15px;
  margin-right: 7px;
  transform: translateX(80px);
  visibility: hidden;
  z-index: -1;
  transition: all .4s;
}

.nav-bar .hider{
  background-color: white;
  width: 50px;
  height: 30px;
  transform: translateX(160px);
  z-index: 1;
}

.nav-bar .search:hover{
  background-color: #E2E8F0;
}

body .on-searching{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f35e;
  z-index: 300;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

body .on-sear-container{
  padding: 1.25rem;
  background-color: #d1d5db;
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

body .on-sear-container h1{
  font-size: 21px;
  padding: 0 20px;
  margin-bottom: 20px;
}

body .on-sear-container input{
  width: 286.23px;
  margin-bottom: 20px;
  padding: 11.25px 5.625px 11.25px 11.25px;
  border-color: transparent;
  outline: none;
  font-size: 16px;
  border-radius: .375rem;
}

body .on-sear-container button{
  width: 286.23px;
  border-radius: .375rem;
  background-color: #3B82F6;
  border: 2px solid #d1d5db;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  transition: all .4s;
}

body .on-sear-container button:hover{
  background-color: transparent;
  color: #3B82F6;
  border: 2px solid #3B82F6;
}

.nav-bar .login{
  text-decoration: none;
  z-index: 11;
}

.nav-bar .login button{
  margin-right: 32px;
  padding: 8px 16px;
  border-radius: .375rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  transition: all .4s;
}

.nav-bar .login button span{
  color: #C97B32;
}

.circle-large{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border-left: 2px solid var(--gold-color);
  border-top: 2px solid var(--gold-color);
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--gold-color);
  transform: rotate(45deg);
  transition: all .4s;
}

.circle-large svg{
  position: absolute;
  font-size: 13px;
  color: var(--gold-color);
  bottom: 7.5px;
  left: 21px;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.circle-mid{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--gold-color);
  transform: translate(-50%, -50%);
}

.circle-small{
  background-color: var(--gold-color);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar .login:hover button{
  transform: scale(1.03);
  box-shadow: 0 7px 10px 0 #0003;
}

.nav-bar .login:hover .circle-large{
  top: 44%;
  left: 48.95%;
  transform: rotate(-135deg);
}

.nav-bar .signup{
  text-decoration: none;
}

.nav-bar .signup button{
  padding: 8px 16px;
  border-radius: .375rem;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--oliver-color);
  color: white;
  transition: all .4s;
}

.nav-bar .signup button svg{
  color: #a9dcaf;
}

.nav-bar .signup:hover button{
  border: 2px solid var(--oliver-color);
  background-color: transparent;
  color: var(--oliver-color);
}

.nav-bar .signup:hover button svg{
  color: var(--oliver-color);
}

.nav-bar .container .nav-adjuster-mobile{
  position: absolute;
  height: 70px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.nav-bar .toggler{
  font-size: 24px;
  color: var(--gold-color);
  cursor: pointer;
}

.toggler-container{
  height: 132px;
  width: 100%;
  background-color: var(--gold-brown-color);
  position: absolute;
  left: 0;
  border-radius: .75rem;
  top: 70.3px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
}

.toggler-container.inactive{
  display: none;
}

.toggler-con-adjuster{
  width: 100%;
}

.toggler-container .toggler-con-adjuster .signup button{
  margin-top: 16px;
  width: 100%;
  background-color: #865221;
  border-radius: .75rem;
}

.toggler-container .toggler-con-adjuster .signup button:hover,
.toggler-container .toggler-con-adjuster .signup button:focus{
  border: 2px solid #70421a;
  color: white;
  background-color: #70421a;
}

.toggler-container .toggler-con-adjuster .signup button:hover svg{
  color: #a9dcaf;
}

body .toggler-container .toggler-con-adjuster .login button{
  margin-right: 0;
  width: 100%;
  background-color: #865221;
  color: white;
  border-radius: .75rem;
}

.toggler-container .toggler-con-adjuster .login button:hover,
.toggler-container .toggler-con-adjuster .login button:focus{
  transform: scale(1);
  box-shadow: none;
  background-color: #70421a;
  border: 2px solid #70421a;
}

.toggler-container .toggler-con-adjuster .login button span{
  color: white;
}

.sear-change-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .nav-bar .container.for-mobile{
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-bar .container.not-mobile{
    display: none;
  }
}

/* _____________________________________ */

.search-landing .container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}


.container .pro-card{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--gold-brown-color);
  color: var(--oliver-color);
  transition: .3s;
  border-radius: .75rem;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 16px;
  position: relative;
  user-select: none;
  z-index: 120;
  display: none;
}

.container .pro-card .left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .pro-card h1{
  margin-bottom: 10px;
  text-align: center;
}

.container .pro-card p{
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.container .pro-card img{
  width: 250px;
  margin-bottom: 16px;
  border-radius: .5rem;
}

.container .pro-card h1 img{
  width: 30px;
  margin-bottom: -5px;
}

.container .pro-card .order{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: white;
}

.container .pro-card .order .amount-show{
  width: 55px;
  height: 25px;
  background-color: white;
  border-radius: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gold-brown-color);
  user-select: none;
}

.container .pro-card .order .fa-plus,
.container .pro-card .order .fa-minus{
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: white;
  padding: 3px 3px;
  cursor: pointer;
  color: var(--gold-brown-color);
}

.container .pro-card h3{
  color: var(--orange-color);
  text-align: center;
  font-size: 1.5rem;
}

.pro-card .discount{
  width: 50px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 0px;
  color: white;
  text-align: center;
}

.pro-card .price{
  position: absolute;
  left: 13px;
  font-size: 17px;
  font-weight: 800;
  color: rgb(255, 0, 0);
}

/* _______________________________________________ */

footer{
  width: 100%;
  min-height: 300px;
  background-color: #334155;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  z-index: 120;
  position: relative;
}

footer .social-links svg{
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--blue-color);
  border-radius: 50%;
  width: 30px;
  padding: 8px;
  height: 30px;
  transition: all .4s;
}

footer .social-links svg{
  margin-right: 10px;
  margin-left: 10px;
}

footer .social-links svg:hover,
footer .social-links svg:focus{
  color: var(--blue-color);
  background-color: white;
}

footer .social-links{
  position: relative;
}

footer .social-links::after{
  content: "";
  width: 200px;
  height: 3px;
  background-color: rgb(198, 198, 198);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.copy-developed{
  color: #a083bd;
  font-size: 18px;
  line-height: 1.5;
}

.copy-developed a{
  color: rgb(210, 210, 210);
  text-decoration: none;
  padding: 8px;
  transition: .3s;
}

.copy-developed a:hover{
  background-color: rgba(121, 121, 121, 0.144);
  border-radius: .5rem;
}

.copy-developed .span-bra{
  color: #9333EA;
}

@media (min-width: 768px) {
  .copy-developed .span-dis{
    display: none;
  }
}

/* _________________________________________________ */

.dark-mode{
  background-color: black;
  color: white;
}

.nav-bar .nav-logo .for-dark{
  display: none;
}

.nav-bar .nav-logo .for-light{
  display: block;
}

.nav-bar.dark-mode .nav-logo .for-dark{
  display: block;
}

.nav-bar.dark-mode .nav-logo .for-light{
  display: none;
}

.nav-bar.dark-mode{
  background-color: transparent;
}

.nav-bar.dark-mode .search{
  background-color: black;
}

.nav-bar.dark-mode .hider{
  background-color: black;
}

.nav-bar.dark-mode .search:hover{
  background-color: rgba(30, 41, 59, .863);
}

body.dark-mode .on-searching{
  background-color: rgb(15 23 42 / .7);;
}

body.dark-mode .on-sear-container{
  background-color: #1f2937;
}

body.dark-mode .on-sear-container input{
  background-color: #333941;
  color: white;
}

body.dark-mode .on-sear-container button{
  border: 2px solid transparent;
}

body.dark-mode .on-sear-container button:hover{
  border: 2px solid #3B82F6;
}

.nav-bar.dark-mode .login button{
  background-color: black;
  color: white;
}

.nav-bar.dark-mode .login:hover button{
  border: 1px solid var(--gold-color);
}

body.dark-mode .toggler-container .toggler-con-adjuster .login button:hover{
  border-color: #70421a;
}